.index {
  min-height: 100%;
}
.search-box {
  box-sizing: border-box;
  padding: 0 30rpx;
}
.search-box {
  margin-top: 60rpx;
  .search-content {
    padding-left: 20rpx;
    height: 70rpx;
    background-color: #f6f5f6;
    border-radius: 100px;
    display: flex;
    align-items: center;
    .search-music-text {
      font-size: 28rpx;
      color: #8a8a8a;
      margin-left: 10rpx;
    }
  }
}
.ranking-list {
  margin-top: 30rpx;
  box-sizing: border-box;
  padding: 0 30rpx;
  .ranking-item {
    margin-bottom: 30rpx;
  }
}
