.beat-content {
  position: relative;
  width: 42rpx;
  height: 40rpx;
  .beat-item {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 4px;
    border-radius: 5px;
    background-color: #d43c33;
    animation: playing alternate linear infinite;
  }
  .item1 {
    left: 0;
    animation-duration: .4s;
  }
  .item2 {
    left: 6px;
    animation-duration: .6s;
  }
  .item3 {
    left: 12px;
    animation-duration: .4s;
    animation-delay: .6s;
  }
  .item4 {
    left: 18px;
    animation-duration: .3s;
  }
  .item5 {
    left: 24px;
    animation-duration: .5s;
  }
  .item6 {
    left: 30px;
    animation-duration: .7s;
  }
  .item7 {
    left: 36px;
    animation-duration: .6s;
    animation-delay: .6s;
  }
}



@keyframes playing {
  0%{
    height: 1rpx;
  }
  100%{
    height: 30rpx;
  }
}
